<%= form_for :blogs, url: blogs_path do |b| %>
	
	</ul>

	<p>
	<%=b.label :title %><br>
	<%=b.text_field :title %>
	</p>

	<p>
		<%= b.label :body %><br>
		<%= b.text_area :body %>
	</p>

	<p>
		<%=	b.submit %>
	</p>

<%end%>





