<h1 class='title'>
	<%= @blog.title %>
</h1>

<p class= 'date'>
	created <%= time_ago_in_words(@blog.created_at) %> ago |
	<% if user_signed_in? %>
	<%= link_to 'Edit', edit_blog_path(@blog) %> |
	<%= link_to 'Delete', blog_path(@blog), method: :delete, data: {confirm: "Are you sure?"} %>
</p>
<%end%>


<p class='body'>
	<h3><%= @blog.body %></h3><hr>
</p>

<div>
	<h2><%= @blog.comments.count %> Comments</h2>
	<%= render @blog.comments %>
	<h3>Join the Discussion</h3>
	<%= render "comments/form" %>
</div>